<div class="auth" ng-init="auth.show = 'signIn'">
    <p class="grid-content">Please
        <a href ng-click="auth.show = 'signIn'" ng-show="auth.show !== 'signIn'"> sign-in </a>
        <b ng-show="auth.show === 'signIn'"> sign-in </b>
        or
        <a href ng-click="auth.show = 'reg'" ng-show="auth.show !== 'reg'"> register for an account.</a>
        <b ng-show="auth.show === 'reg'"> register for an account.</b>
    </p>

    <div class="primary auth align-right" ng-show="auth.show === 'signIn'">
        <sign-in></sign-in>
    </div>
    <div class="primary auth align-right" ng-show="auth.show === 'reg'">
        <reg></reg>
    </div>
</div>