<div class="card reg">

    <div class="card-divider">
        <h2 class="subheader">Register</h2>
    </div>

    <form class="card-section">
        <div ng-hide="authCheck.uid">
            <div class="card-section"
                 ng-init="email='';password='';loginInputs = [
                 {name:'name', type:'text'},
                 {name:'role', type:'select', options:['admin','customer','rep']},
                 {name:'email', type:'text'},
                 {name:'password',type:'password'}
            ];">
                <label ng-repeat="inputs in loginInputs">
                <span class="inline-label">
                <span class="form-label">{{inputs.name | uppercase}}</span>
                <input ng-if="inputs.type !== 'select'" ng-model="$parent.$parent[inputs.name]" type="{{inputs.type}}">
                <select ng-if="inputs.type === 'select'" ng-options="role for role in inputs.options" ng-model="$parent.$parent[inputs.name]"></select>
                </span>
                </label>
                <button class="button hollow" ng-click="newUser(name, role, email, password)">Register</button>
            </div>
        </div>
    </form>
</div>
