<div class="doctors grid-block">

    <zf-accordion auto-open="false" multi-open="true" class="small-12">
        <zf-accordion-item ng-click="show.city = true" ng-repeat="(key, doctor) in doctorsObject" title="{{doctor['doctor name'] +': '+doctor['speciality']}}">
            <form ng-if="show.city">
                {{doctor}}
                <div ng-repeat="(fieldKey,field) in doctor">
                    <label for="{{fieldKey}}">{{fieldKey}}
                        <input id="{{fieldKey}}" type="text" ng-model="$parent.doctor[fieldKey]"/>
                    </label>
                </div>
                <a href="" class="button" ng-click="update('doctors',key,doctor)">Update User</a>
            </form>
        </zf-accordion-item>
    </zf-accordion>
</div>