<div class="fold grid-content vertical">
    <div class="grid-block card"><div class="card-section">
        <h1 class="small-12 grid-block">Welcome to MedViz, the best way to track medical representative visits to doctors.</h1>
    </div>
    <div class="grid-block">
        <!--<div class="grid-content small-12 medium-7">
            <div class="card small-12">
                <div class="card-section">
                    <reg></reg>
                </div>
            </div>
        </div>-->
        <div class="grid-content small-12 medium-4">
                <div class="card small-12">
                    <div class="card-section">
                        <auth></auth>
                    </div>
                </div>
            </div>

    </div>
</div>
