<div class="doctors grid-content" ng-init="">
    <h2>Doctors</h2>
    <zf-accordion auto-open="false" multi-open="true">
        <zf-accordion-item  ng-click="show.city = true" ng-repeat="(city, doctors) in doctorsIndexObject.city" title="{{city}}">
            <zf-accordion ng-if="show.city" auto-open="false">
                <zf-accordion-item ng-repeat="doctor in doctors" title="{{doctorsObject[doctor]['doctor name']}}, {{doctorsObject[doctor].speciality}}">
                    <div><b>{{doctorsObject[doctor].address}}</b>
                    <p>{{doctorsObject[doctor]['sector field']}}</p>
                    <p>{{doctorsObject[doctor]['contact number']}}</p>
                    <a href="" ng-click="newVisit($parent.$root.auth.id, doctor)" class="button">Begin Visit</a> {{$parent.$root.auth.uid}}</div>
                </zf-accordion-item>
            </zf-accordion>
        </zf-accordion-item>
    </zf-accordion>

</div>