<div class="agenda" map-lazy-load="https://maps.google.com/maps/api/js" ng-init="doctors = [
{name:'alex',address:'16 fleghm rd',specialty:'flogging'},
{name:'pat',address:'341 lol rd',specialty:'electronics'},
{name:'assmunch',address:'1234 random rd',specialty:'funny goats'}];
visits = [
{doctor:'alex', location:'16 fleghm rd',drugs:['advil', 'asprin'],notes:'none yet'},
{doctor:'pat', location:'341 lol rd',drugs:['cocaine', 'lsd'],notes:'none yet'},
{doctor:'assmunch', location:'1234 random rd',drugs:['sugar', 'iron'],notes:'none yet'}
]">

    <zf-accordion ng-repeat="visit in visits" auto-open="false" collapsible="true" multi-open="true">
        <zf-accordion-item title="{{visit.doctor}}">
            <div class="grid-block"><profile></profile></div>
            <div class="grid-block"></div>

        </zf-accordion-item>
    </zf-accordion>
</div>
